/* Reset
---------------------------------
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
/*ol, ul {
  list-style: none;
}*/
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

/* Use borderbox model */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-decoration: none;
}


/* Fonts and colors
---------------------------------
*/

body {
  overflow: hidden;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  font-family: 'Source Sans Pro', Helvetica, Arial, Verdana, sans-serif;
  color: #505050;  
}

a {
  color: #1B6685;
  font-weight: normal;
  text-decoration: none;
  -moz-transition: background-color 100ms linear, color 100ms linear, opacity 100ms linear;
  -o-transition: background-color 100ms linear, color 100ms linear, opacity 100ms linear;
  -webkit-transition: background-color 100ms linear, color 100ms linear, opacity 100ms linear;
  transition: background-color 100ms linear, color 100ms linear, opacity 100ms linear;
}

a:hover {
  color: rgba(11, 157, 217, 1);
}

/* Layout stuff 
---------------------------------
*/

#container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  height: 100%;
}

.searchbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  background: #eee;
  border-bottom: 1px solid #ddd;
  height: 60px;
  overflow: hidden;
}

#container .panel-wrapper {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}


/* Documents result list */

#facets {
  float: left;
  height: 100%;
  width: 20%;
  background: #f7f7f7;
  border-right: 1px solid #ddd;
  overflow: auto;
}

#documents {
  float: left;
  width: 50%;
  height: 100%;
  border-right: 1px solid #ddd;
}


/* Preview
---------------------------------
*/

#preview {
  background: #fff;
  float: right;
  width: 30%;
  height: 100%;
  overflow: auto;
  font-size: 12px;
  padding: 20px;
  line-height: 20px;
}

#preview .fragment {
  padding-bottom: 20px;
}


/* Search bar
---------------------------------
*/

.searchbar .search-field {
  display: block;
  float: left;
  border: none;
  margin-left: 20px;
  margin-top: 15px;
  height: 30px;
  width: 70%;
  padding: 0 5px;
  font-size: 13px;
}

.searchbar .search-button {
  margin-top: 15px;
  display: block;
  float: left;
  background: #444;
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
  color: #fff;
}

.searchbar .search-button:hover {
  background: #000;
}

/* Documents result list
---------------------------------
*/

#documents {
  position: relative;
  overflow: auto;
}


#documents .document {
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #ddd;
}



#documents .document .title {
  display: block;
  margin-right: 130px;
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 10px;
}

#documents .document .authors .author {
  margin-right: 10px;
}

#documents .document .facet-occurence.highlighted {
  background: #444;
  /*border-bottom: 3px solid #4A90E2;*/
  color: white;
}

#documents .document .facet-occurence.article_type.highlighted {
  background: #249fd7;
  /*border-bottom: 3px solid #4A90E2;*/
  color: white;
}

#documents .document .facet-occurence.subjects.highlighted {
  background: #659e47;
  /*border-bottom: 3px solid #4A90E2;*/
  color: white;
}

#documents .document .intro {
  padding-top: 10px;
  font-style: italic;
  color: rgba(0,0,0,0.6);
}

#documents .document .categories {
  overflow: hidden;
  padding: 10px 0;
}

#documents .document .categories > div {
  float: left;
  margin-right: 10px;
}

#documents .document .subject {
  font-style: italic;
  color: #999;
}

.query-string {
  background: #ccc;
}

#documents .document .categories .article_type {

}

#documents .document .toggle-preview {
  display: block;
  color: rgba(11, 157, 217, 1);
  position: absolute;
  padding: 20px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  border-right: 3px solid transparent;
  z-index: 5000;
}

#documents .document:hover .toggle-preview {
  border-right: 3px solid rgba(0, 0, 0, 0.1);
}

#documents .document.active .toggle-preview {
  border-right: 3px solid rgba(11, 157, 217, 1);
}

/* Facets panel
---------------------------------
*/

#facets .facet {
  padding: 20px;
}

#facets .facet .facet-name {
  text-transform: uppercase;
  font-size: 12px;
  color: #666;
  padding-bottom: 10px;
}

#facets .facet .facet-values {
  overflow: hidden;
}

#facets .facet .facet-values .value {
  display: block;
  margin-right: 20px;
  padding: 2px 5px;
}

#facets .facet .facet-values .value.selected {
  background: #444;
  color: white;
}

/* article type */
#facets .facet.article_type .facet-values .value.selected {
  background: #249fd7;
  color: white;
}

/* subjects */

#facets .facet.subjects .facet-values .value.selected {
  background: #659e47;
  color: white;
}

